<div>
  <div>
    <form (ngSubmit)="onSubmit()" class="login-container">
      <mat-form-field class="in">
        <input type="text" matInput [(ngModel)]="username" name="username" class="mat-input-element" placeholder="用户名"/>
      </mat-form-field>
      <br>
      <mat-form-field class="in">
        <input type="password" matInput  [(ngModel)]="password" name="password" class="mat-input-element" placeholder="密码"/>
      </mat-form-field>
      <br>
      <mat-checkbox labelPosition="after">
        <label>记住密码</label>
      </mat-checkbox>
      <br>
      <button mat-raised-button color="primary" class="login-button" type="submit">登陆</button>
      </form>
  </div>
</div>
