<div id="docker">
  <div class="header">
    <strong class="desc">用户列表</strong>
    <div class="location">
      <span>用户管理 ：</span>
      <span>用户列表</span>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="toobar">
      <mat-form-field class="in">
        <input type="text" matInput  name="name" class="mat-input-element" placeholder="姓名"/>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mrb" type="button">查询</button>
      <button mat-raised-button color="primary" class="mrb" type="button">新增</button>
    </div>
    <app-user-list [users]="users"></app-user-list>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 25]">
    </mat-paginator>

  </div>
</div>
