#foot{
  height: 40px;
  font-size: 22px;
  border-color: hsla(62, 77%, 76%, .3);
  border-right: 1px solid;
  margin-top: -6px;
  background: #20a0ff linear-gradient(to right, rgba(0, 20, 255, 0.74), rgba(0, 173, 255, 0.46));
  position: fixed;
  width: 100%;
  top: calc(100% - 40px);
}
.footer{
  width: 40%;
  height: 100%;
  padding-left: 30%;
}
.footer p{
  line-height: 100%;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
