#docker{
  /*background-color: rgba(0, 255, 20, 0.48);*/
  float: left;
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  overflow-y: scroll;
  flex: 1;
}
