<div id="title">
  <div class="title-left">
    <span class="banner">房产后台管理</span>
  </div>
  <button mat-icon-button class="toggle-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div class="headImg" [matMenuTriggerFor]="menu" matTooltip="单击">
    <img src="/assets/back.jpg">
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>message</mat-icon>
      <span>我的消息</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>settings</mat-icon>
      <span>设置</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings_power</mat-icon>
      <span>退出登录</span>
    </button>
  </mat-menu>
</div>
