<table matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <td>
        <mat-checkbox labelPosition="after" class="selector">
        </mat-checkbox>
        <mat-card>ID</mat-card>
        <mat-card>标题</mat-card>
        <mat-card>房屋面积</mat-card>
        <mat-card>联系电话</mat-card>
        <mat-card>交易状态</mat-card>
        <mat-card>地址</mat-card>
        <mat-card>操作</mat-card>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <mat-checkbox labelPosition="after" class="selector">
        </mat-checkbox>
        <mat-card>ID</mat-card>
        <mat-card>标题</mat-card>
        <mat-card>房屋面积</mat-card>
        <mat-card>联系电话</mat-card>
        <mat-card>交易状态</mat-card>
        <mat-card>地址</mat-card>
        <mat-card>操作</mat-card>
      </td>
    </tr>
  </tbody>
</table>
