div{
  float:left;
  width: 150px;
  height: 30px;
  text-align: center;
}
.selector{
  float:left;
  width: 40px;
  padding-left: 20px;
}
.id{
  width: 45px;
}
.home{
  width: 100px;
}
.address{
  width: 250px;
}
