<table matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <td>
        <mat-checkbox labelPosition="after" class="selector">
        </mat-checkbox>
        <div>ID</div>
        <div>标题</div>
        <div>房屋面积</div>
        <div>联系电话</div>
        <div>交易状态</div>
        <div>地址</div>
        <div>操作</div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <mat-checkbox labelPosition="after" class="selector">
        </mat-checkbox>
        <div>ID</div>
        <div>标题</div>
        <div>房屋面积</div>
        <div>联系电话</div>
        <div>交易状态</div>
        <div>地址</div>
        <div>操作</div>
      </td>
    </tr>
  </tbody>
</table>
