<table matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <td class="head" (click)="selectedAll()">
        <mat-checkbox labelPosition="after" color="primary" class="selector" [checked]="singleSelect">
        </mat-checkbox>
        <div class="id">ID</div>
        <div class="title">标题</div>
        <div class="home">房屋面积</div>
        <div class="phone">联系电话</div>
        <div class="status">交易状态</div>
        <div class="address">地址</div>
        <div class="operation">操作</div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let house of houses ">
      <td (click)="selected(house)" >
        <mat-checkbox labelPosition="after" color="primary" class="selector" [checked]="house.checked">
        </mat-checkbox>
        <div class="id">ID</div>
        <div class="title">{{house.title}}</div>
        <div class="home">{{house.area}}</div>
        <div class="phone">{{house.phone}}</div>
        <div class="status">{{house.status | status}}</div>
        <div class="address">{{house.addr}}</div>
        <div class="operation">
          <button class="mrb" type="button"><span>编辑</span></button>
          <button class="mrb warn" type="button"><span>删除</span></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
