table{
  display: table;
  font-size: 15px;
  border: 1px solid;
  color: #1f2d3d;
  border-color: rgba(0, 0, 255, 0.29);
  /*background-color: #0a3e7b  !important;*/
}
div{
  float:left;
  width: 150px;
  height: 30px;
  text-align: center;
}
.selector{
  float:left;
  width: 40px;
  padding-left: 20px;
}
thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.head{
  border: 1px;
  background-color: rgba(96, 125, 139, 0.4);
}
.id{
  width: 45px;
}
.home{
  width: 100px;
}
.address{
  width: 250px;
}
tbody td{
  background-color: rgba(21, 123, 154, 0.09);
}
