.content{
  display: flex;
  height: 82%;
  align-items: center;
  justify-content: center;
}
.sidnav{
  float: left;
  box-sizing: border-box;
  width: 15.5%;
  height: 90%;
  background-color: #eef1f6;
}
#title{
  height: 9%;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: hsla(62,77%,76%,.3);
  border-right-width: 1px;
  border-right-style: solid;
  background-color: #20a0ff;
  margin-top: -6px;
  background: linear-gradient(to right, rgba(0, 20, 255, 0.58) , rgba(0, 173, 255, 0.46));
}
.title-left{
  height: 60px;
  width: 15.5%;
  margin-left: -1%;
}
.toggle-button{
  float: left;
  margin-top: -3.8%;
  padding-left: 15%;
}
.headImg{
  width: 50px;
  height: 50px;
  float: right;
  margin-top: -55px;
  padding-right: 20px;
}
.headImg img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.menu{
  height: 57px;
  line-height: 56px;
  font-size: 17px;
  color: #48576a;
  padding: 3px 8px;
  cursor: pointer;
  position: relative;
  transition: border-color .3s,background-color .3s,color .3s;
  box-sizing: border-box;
  white-space: nowrap;
}
li{
  list-style-type:none;
}
ul{
  border-radius: 2px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: #eef1f6;
  height: 90%;
}
.icon{
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -19px;
  transition: transform .3s;
  font-size: 12px;
}
.menu-item{
  line-height: 50px;
  min-width: 200px;
  /*color: #48576a;*/
  width: 150px;
  display: inline;
  padding: 0 30px 0 30%;
  color: #000000bf;
}
.hide{
  height: 114px;
}
.single{
  height: 57px;
}
.button{
  float: right;
  /* padding-top: 3%; */
  height: 100%;
}
.no-click {
  padding-left: 8%;
  padding-top: 8%;
}
span{

}
.li-item{
  height: 57px;
  width: 200px;
  margin-left: -9px;
}
.banner{
  line-height: 60px;
  text-shadow: 5px 5px 5px #6b2d38;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding-left: 27px;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:active{
  text-decoration:none;
}

