<!--<mat-sidenav-container class="sidnav">-->
  <!--<mat-sidenav mode="push" opened="true" #sidenav >-->
    <!--<mat-list>-->
      <!--<mat-list-item> Pepper </mat-list-item>-->
      <!--<mat-list-item> Salt </mat-list-item>-->
      <!--<mat-list-item> Paprika </mat-list-item>-->
    <!--</mat-list>-->
  <!--</mat-sidenav>-->

  <!--<div class="content" >-->
    <!--<button  type="button" (click)="sidenav.open()" >-->
    <!--Main content-->
    <!--</button >-->
  <!--</div>-->

  <!--&lt;!&ndash; primary content &ndash;&gt;-->
<!--</mat-sidenav-container>-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div id="title">房产后台管理</div>
<div class="sidnav">
  <ul>
    <li>
      <div class="menu">
        <mat-icon class="material-icons">keyboard_arrow_up</mat-icon>
        <span class="desc">买卖管理</span>
        <!--<mat-icon class="icon" svgIcon="down"></mat-icon >-->
        <mat-icon class="material-icons right" (click)="toggle()">{{icon}}</mat-icon>
      </div>
      <ul class="menu hide" *ngIf="hide">
        <li class="menu-item">租赁列表</li>
        <br>
        <li class="menu-item">添加房产</li>
      </ul>
    </li>
  </ul>
</div>
