.content{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidnav{
  height: 400px;
  width: 200px;
  padding:20px;
}
#title{
  height: 60px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: hsla(62,77%,76%,.3);
  border-right-width: 1px;
  border-right-style: solid;
}
