.content{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidnav{
  float: left;
  box-sizing: border-box;
  width: 15.5%;
  height: 90%;
  background-color: #eef1f6;
}
#title{
  height: 60px;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: hsla(62,77%,76%,.3);
  border-right-width: 1px;
  border-right-style: solid;
  background-color: #00BCD4;
  margin-top: -6px;
}
.title-left{
  height: 60px;
  width: 200px;
  margin-left: -19px;
}
.menu{
  height: 57px;
  line-height: 56px;
  font-size: 17px;
  color: #48576a;
  padding: 3px 8px;
  cursor: pointer;
  position: relative;
  transition: border-color .3s,background-color .3s,color .3s;
  box-sizing: border-box;
  white-space: nowrap;
}
li{
  list-style-type:none;
}
ul{
  border-radius: 2px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: #eef1f6;
  height: 90%;
}
.icon{
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -19px;
  transition: transform .3s;
  font-size: 12px;
}
.menu-item{
  line-height: 50px;
  min-width: 200px;
  /*color: #48576a;*/
  width: 150px;
  display: inline;
  padding: 0 30px 0 37px;
}
.hide{
  height: 114px;
}
.single{
  height: 57px;
}
.button{
  margin-left: 40px;
}
.no-click{

}
.li-item{
  height: 57px;
  width: 200px;
  margin-left: -9px;
}
.banner{
  line-height: 60px;
  text-shadow: 5px 5px 5px #6b2d38;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding-left: 27px;
}
#docker{
  background-color: rgba(0, 255, 20, 0.48);
  float: left;
  width: 84.5%;
  height: 90%;
}
.header{
  height:20px;
  padding-top: 15px;
}
.desc{
  width:200px;
  font-weight: bold;
  font-size: 15px;
  padding-left: 20px;
  line-height: 20px;
}
.location{
  float: right;
  padding-right: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.content-wrapper{
  height: 800px;
  background-color: white;
}
.toobar{
  background-color: rgba(174, 213, 129, 0.38);
}
.in{
  padding-left: 20px;
  padding-top: 10px;
}
.mrb{
  margin-left: 30px;
}


