<!--<mat-sidenav-container class="sidnav">-->
  <!--<mat-sidenav mode="push" opened="true" #sidenav >-->
    <!--<mat-list>-->
      <!--<mat-list-item> Pepper </mat-list-item>-->
      <!--<mat-list-item> Salt </mat-list-item>-->
      <!--<mat-list-item> Paprika </mat-list-item>-->
    <!--</mat-list>-->
  <!--</mat-sidenav>-->

  <!--<div class="content" >-->
    <!--<button  type="button" (click)="sidenav.open()" >-->
    <!--Main content-->
    <!--</button >-->
  <!--</div>-->

  <!--&lt;!&ndash; primary content &ndash;&gt;-->
<!--</mat-sidenav-container>-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div id="title">房产后台管理</div>
<div class="sidnav">
  <ul>
    <li>
      <div class="menu">
        <mat-icon class="material-icons no-click">folder_shared</mat-icon>
        <span class="desc">租赁管理</span>
        <!--<mat-icon class="icon" svgIcon="down"></mat-icon >-->
        <button mat-icon-button class="button">
        <mat-icon  class="material-icons right" (click)="toggle(0)">{{icon[0]}}</mat-icon>
        </button>
      </div>
      <ul class="menu hide" *ngIf="hide[0]">
        <li class="menu-item">租赁列表</li>
        <br>
        <li class="menu-item">添加房产</li>
      </ul>
    </li>
    <li>
      <div class="menu">
        <mat-icon class="material-icons">location_city</mat-icon>
        <span class="desc">买卖管理</span>
        <!--<mat-icon class="icon" svgIcon="down"></mat-icon >-->
        <button mat-icon-button class="button">
        <mat-icon class="material-icons right" (click)="toggle(1)">{{icon[1]}}</mat-icon>
        </button>
      </div>
      <ul class="menu hide" *ngIf="hide[1]">
        <li class="menu-item">房产列表</li>
        <br>
        <li class="menu-item">添加房产</li>
      </ul>
    </li>
    <li>
      <div class="menu">
        <mat-icon class="material-icons">group</mat-icon>
        <span class="desc">用户管理</span>
        <button mat-icon-button class="button">
        <mat-icon class="material-icons right" (click)="toggle(2)">{{icon[2]}}</mat-icon>
        </button>
      </div>
      <ul class="menu single" *ngIf="hide[2]">
        <li class="menu-item">用户列表</li>
      </ul>
    </li>
  </ul>
</div>
