
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div id="title">
  <div class="title-left">
    <span class="banner">房产后台管理</span>
  </div>
</div>
<div class="sidnav">
  <ul>
    <li >
      <div class="menu able">
        <mat-icon class="material-icons no-click able">folder_shared</mat-icon>
          <span>租赁管理</span>
        <!--<mat-icon class="icon" svgIcon="down"></mat-icon >-->
          <button mat-icon-button class="button">
            <mat-icon  class="material-icons right" (click)="toggle(0)">{{icon[0]}}</mat-icon>
          </button>
      </div>
      <ul class="menu hide" *ngIf="hide[0]">
        <div  class="li-item" #item1 (mouseover)="mouse($event,item1)" (mouseout)="mouse($event,item1)">
          <li class="menu-item" >租赁列表</li>
        </div>
        <div class="li-item" #item2 (mouseover)="mouse($event,item2)" (mouseout)="mouse($event,item2)">
          <li class="menu-item"  >添加房产</li>
        </div>
      </ul>
    </li>
    <li>
      <div class="menu able">
        <mat-icon class="material-icons">location_city</mat-icon>
          <span>买卖管理</span>
          <button mat-icon-button class="button">
            <mat-icon class="material-icons right" (click)="toggle(1)">{{icon[1]}}</mat-icon>
          </button>
      </div>
      <ul class="menu hide" *ngIf="hide[1]">
        <div class="li-item" #item3 (mouseover)="mouse($event,item3)" (mouseout)="mouse($event,item3)">
          <li class="menu-item">房产列表</li>
        </div>
        <div class="li-item" #item4 (mouseover)="mouse($event,item4)" (mouseout)="mouse($event,item4)">
          <li class="menu-item">添加房产</li>
        </div>
      </ul>
    </li>
    <li>
      <div class="menu able">
        <mat-icon class="material-icon">group</mat-icon>
          <span>用户管理</span>
          <button mat-icon-button class="button">
            <mat-icon class="material-icons right" (click)="toggle(2)">{{icon[2]}}</mat-icon>
          </button>
      </div>
      <ul class="menu single" *ngIf="hide[2]">
        <div class="li-item" #item5 (mouseover)="mouse($event,item5)" (mouseout)="mouse($event,item5)">
          <li class="menu-item">用户列表</li>
        </div>
      </ul>
    </li>
  </ul>
</div>
<div id="docker">
  <div class="header">
    <strong class="desc">用户列表</strong>
    <div class="location">
      <span>用户管理 ：</span>
      <span>用户列表</span>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="toobar">
      <mat-form-field class="in">
        <input type="text" matInput  name="name" class="mat-input-element" placeholder="姓名"/>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mrb" type="button">查询</button>
      <button mat-raised-button color="primary" class="mrb" type="button">新增</button>
    </div>


  </div>
</div>
