<div *ngIf="file.status == false">
  <label class="icon" for="filed">
    <mat-icon class="material-icons icons">add</mat-icon>
  </label>
  <input type="file" id="filed" class="upload-file" accept="image/*" (change)="upload($event.target.files)">
</div>
<div *ngIf="file.status == true" class="back">
  <!--<img [src]="file.value">-->
  <span class="upload-back" [ngStyle]="{'opacity': opacity}" (mouseover)="mouseOver()" (mouseout)="mouseOut()">
    <span></span>
    <span></span>
  </span>
</div>
