<div *ngIf="file.status == false">
  <label class="icon" for="filed">
    <mat-icon class="material-icons icons">add</mat-icon>
  </label>
  <input type="file" id="filed" class="upload-file" accept="image/*" (change)="upload($event.target.files)">
</div>
<div *ngIf="file.status == true" class="back">
  <img [src]="file.value" alt="图片已失效">
  <span class="upload-back" [ngStyle]="{'opacity': opacity}" (mouseover)="mouseOver()" (mouseout)="mouseOut()">
    <a (click)="visibility()">
      <mat-icon class="material-icons">visibility</mat-icon>
    </a>
    <a (click)="deleteds()">
      <mat-icon class="material-icons">delete</mat-icon>
    </a>
  </span>
  <mat-spinner *ngIf="init"></mat-spinner>
</div>
