<div id="docker">
  <div class="header">
    <strong class="desc">添加房产</strong>
    <div class="location">
      <span>房产管理 ：</span>
      <span>添加房产</span>
    </div>
  </div>
  <div class="content-wrapper">
    <form>
      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="房产标题" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>标题不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="发布者" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>发布者不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="房产总价" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>总价不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="参考价格(M^2)" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>参考价不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="房产面积" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>面积不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="交易权属" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="户型" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>户型不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="房屋朝向" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>朝向不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="所在楼层" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>楼层不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="装修情况" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="产权年限" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="建筑年代" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <input type="text" matInput name="title" class="mat-input-element" placeholder="房产地址" required/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error>地址不能为空</mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <span  matPrefix> +86&nbsp; </span>
        <input matInput name="title" class="mat-input-element" placeholder="房东电话" required
               [formControl]="phoneFormControl"/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
          请输入合法的手机号
        </mat-error>
        <mat-error *ngIf="phoneFormControl.hasError('required')">
          手机号不能为空
        </mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <span  matPrefix> +86&nbsp; </span>
        <input matInput name="title" class="mat-input-element" placeholder="业务员电话" required
               [formControl]="secondFromControl"/>
        <mat-icon  matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="secondFromControl.hasError('pattern')">
          请输入合法的手机号
        </mat-error>
        <mat-error *ngIf="secondFromControl.hasError('required')">
          手机号不能为空
        </mat-error>
      </mat-form-field>

      <mat-form-field class="in">
        <mat-select placeholder="交易状态">
          <mat-option *ngFor="let xu of status" [value]="xu.value">
            {{ xu.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="in">
        <mat-radio-group>
          <mat-radio-button value="0">公开</mat-radio-button>
          <mat-radio-button value="1">私密</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="upload">
        <span class="upload-title">添加图片</span>
        <div class="source">
          <ul>
            <li class="upload-item" *ngFor="let fil of files">
              <app-upload [file]="fil" (fileUpload)="uploadSuccess($event)"
                        [token]="token" [domain]="domain">
              </app-upload>
            </li>
          </ul>
        </div>
      </div>

      <mat-form-field class="in textArea">
        <textarea  matInput  placeholder ="房屋详细信息"> </textarea >
      </mat-form-field >
      <br>

      <div class="in">
      <button mat-raised-button class="mrb add" type="button">立即创建</button>
      <button mat-raised-button class="mrb cancel" type="button">取消</button>
      </div>
    </form>

  </div>
</div>
